{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
{% if action == "ajouter" %}
    <h3>Ajout d'une entreprise</h3>
{% else %}
    <h3>Modification d'une entreprise</h3>
{% endif %}
{% endblock %}
{% block contenu %}
{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.nom, {'attr' : {'placeholder' : "Nom de l'entreprise"}}) }}

{{ form_row(vueFormulaire.adresse, {'attr' : {'placeholder' : "Adresse de l'entreprise"}}) }}

{{ form_row(vueFormulaire.lienInternet, {'attr' : {'placeholder' : "Page internet de l'entreprise"}}) }}

{{ form_row(vueFormulaire.activite, {'attr' : {'placeholder' : "Activité de l'entreprise"}}) }}
<br>
<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}
{% endblock %}