{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
    <h3>Ajout d'une entreprise</h3>
{% endblock %}
{% block contenu %}
{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.nom, {'attr' : {'placeholder' : "Nom de l'entreprise"}}) }}
{{ form_row(vueFormulaire.adresse, {'attr' : {'placeholder' : "Adresse de l'entreprise"}}) }}
{{ form_row(vueFormulaire.lienInternet, {'attr' : {'placeholder' : "Page internet de l'entreprise"}}) }}
{{ form_row(vueFormulaire.activite, {'attr' : {'placeholder' : "Activité de l'entreprise"}}) }}

{{ form_end(vueFormulaire) }}
{% endblock %}