{% extends 'base.html.twig' %}

{% block titreContenu %}
<div class="example-wrapper">
    <h3>Ajout d'un stage</h3>
{% endblock %}
{% block contenu %}
{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.titre, {'attr' : {'placeholder' : "Titre du stage"}}) }}

{{ form_row(vueFormulaire.descMission, {'attr' : {'placeholder' : "Description du stage"}}) }}

{{ form_row(vueFormulaire.email, {'attr' : {'placeholder' : "Email pour contacter l'entreprise"}}) }}
<br><br>

Entreprise

{{ form_row(vueFormulaire.entreprise.nom, {'attr' : {'placeholder' : "Nom de l'entreprise"}}) }}

{{ form_row(vueFormulaire.entreprise.adresse, {'attr' : {'placeholder' : "Adresse de l'entreprise"}}) }}

{{ form_row(vueFormulaire.entreprise.lienInternet, {'attr' : {'placeholder' : "Page internet de l'entreprise"}}) }}

{{ form_row(vueFormulaire.entreprise.activite, {'attr' : {'placeholder' : "Activité de l'entreprise"}}) }}
<br><br>

{{ form_row(vueFormulaire.formations) }}
<br><br>

<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}
{% endblock %}