{% extends 'base.html.twig' %}

{% block titreContenu %}Liste des formations{% endblock %}

{% block contenu %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nom }}</td>
                <td>
                    <a href="{{ path('formations_c_r_u_d_show', {'id': formation.id}) }}">Consulter</a>
                    <a href="{{ path('formations_c_r_u_d_edit', {'id': formation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune formation enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formations_c_r_u_d_new') }}">Créer une nouvelle formation</a>
{% endblock %}
